.App {
  text-align: center;
}
.btn{
  margin: 10px;
  padding: 10px;
  cursor: pointer ;
}
.Nav-bar{
  background-color: #282c34;
}
.Nav-bar ul{
  list-style: none;
}
.Nav-bar ul li{
  display: inline-block;
  margin: 20px;
  cursor: pointer;
}
.Nav-bar ul li a {
  text-align: left;
 text-decoration: none;
 color: whitesmoke;
 font-size: larger;
}
.Nav-bar a.active{
  color: darkgreen;
} 
.Nav-bar a:hover, a:active{
  color: darkgreen;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
